main
	section.hero 
		h1.hero-main-header
			| Грузинская кухня 
			span.is-primary-color по&nbsp;домашним рецептам

		img(src="../img/photogallery/khinkali.png", alt="khinkali").hero-float-img
		img(src="../img/assets/brand/kulinari-logo-sign.svg", alt="khinkali logo sign").hero-float-logo-sign

	section.k-about.container
		.k-about__content
			h2.k-about__header
				| кафе «Кулинари»
			p.k-about__text
				| Кавказская кухня славится своими богатыми вкусами и ароматами, а грузинская кухня является одним из наиболее популярных и известных видов кавказской кухни. Если вы ищете ресторан с настоящим грузинским опытом, то стоит посетить наш ресторан.
			p.k-about__text
				| В нашем ресторане мы предлагаем вам не только аутентичную грузинскую кухню, но и уникальный интерьер, созданный с использованием традиционных грузинских элементов. Вы можете насладиться блюдами, приготовленными по старинным рецептам, в уютной атмосфере, которая подарит вам ощущение, что вы побывали в самой Грузии.

	section.k-gallery
		.k-gallery__content 
			- var count = 1
			while count <= 6
				- var imageName = count.toString()
				.k-gallery__content-item
					img(src=`../img/photogallery/interior/interior-image-${imageName}.jpg`, alt=`interior ${imageName}`)
				- count++


	section.k-advantages
		.k-advantages__item
			.k-advantages__item-image
				img(src="../img/assets/faces.svg", alt="kulinari advantages image")
			.k-advantages__item-header
				h2 
					| Кулинария широкой души
			.k-advantages__item-description
				p 
					| У нас готовят только грузины по семейным рецептам
		.k-advantages__item
			.k-advantages__item-image
				img(src="../img/assets/pack.svg", alt="kulinari advantages image")
			.k-advantages__item-header
				h2 
					| Для тех, кто спешит
			.k-advantages__item-description
				p 
					| Свежие хинкали за три минуты? Без проблем!
		.k-advantages__item
			.k-advantages__item-image
				img(src="../img/assets/bee.svg", alt="kulinari advantages image")
			.k-advantages__item-header
				h2 
					| Все как надо
			.k-advantages__item-description
				p 
					| Хоть у нас и кафе, все блюда ресторанного качества

	section.k-gallery-dishes
		.k-gallery-dishes__content
			- var count = 1
			while count <= 12
				- var imageName = count.toString()
				.k-gallery-dishes__item
					img(src=`../img/photogallery/dishes/dish-${imageName}.jpg`, alt=`Image ${imageName}`)
				- count++

	section.k-delivery
		.k-delivery__content 
			.k-delivery__content-header
				h2 
					| Доставка
			.k-delivery__content-text
				p 
					| Закажите доставку или заберите сами в любом из наших кафе.
			.k-delivery__content-btn 
				button.button 
					| Перейти в меню

	section.accordion
		h2 Наши новости
		.accordion-item
			.accordion-header
				h2.accordion-title  Летнее меню Кулинари
				img(src="../img/assets/icons/arrow.svg", alt="arrow").accordion-arrow
			.accordion-content
				img(src="../img/photogallery/interior/interior-image-1.jpg", alt="News")
				p 
					| В ресторане «Оджахури» на Садовой-Черногрязской заработала летняя веранда и совсем недавно шеф-повар Гига Шервашидзе запустил сезонное меню.
				p 
					| В разделе салатов и закусок микс салатных листьев с зеленью, бакинскими огурцами, сельдереем, сливочным сыром и песто (690 руб.); салат из томатов, сметаны, красного лука, петрушки и кинзы (550 руб.); салат из свёклы с обжаренной на гриле грушей, томатами, салатными листьями и сыром (590 руб.) и свежие огурцы в соусе из мацони с зелёной аджикой и чвиштари (530 руб.).
				p 
					| В супах два вида окрошки с говяжьим языком, свежими огурцами, редисом, зеленью, горчицей и хреном – на выбор на мацони или квасе (550 руб.), грузинский тёплый суп с мацони с добавлением муки, сметыны, мяты, зелени, лука и куриного яйца (490 руб.) и грузинский гаспачо со свежими огурцами и сулугуни (490 руб.).
				p 
					| Веранда рассчитана на 50 посадочных мест и находится во внутреннем дворике ресторана с видом на площадь Цезаря Куникова.
		.accordion-item
			.accordion-header
				h2.accordion-title Открытие летней веранды Оджахури на Садовой-Черногрязской
				img(src="../img/assets/icons/arrow.svg", alt="arrow").accordion-arrow
			.accordion-content
				img(src="../img/photogallery/interior/interior-image-2.jpg", alt="News")
				p 
					| В ресторане «Оджахури» на Садовой-Черногрязской заработала летняя веранда и совсем недавно шеф-повар Гига Шервашидзе запустил сезонное меню.
				p 
					| В разделе салатов и закусок микс салатных листьев с зеленью, бакинскими огурцами, сельдереем, сливочным сыром и песто (690 руб.); салат из томатов, сметаны, красного лука, петрушки и кинзы (550 руб.); салат из свёклы с обжаренной на гриле грушей, томатами, салатными листьями и сыром (590 руб.) и свежие огурцы в соусе из мацони с зелёной аджикой и чвиштари (530 руб.).
		.accordion-item
			.accordion-header
				h2.accordion-title Пасха в Оджахури
				img(src="../img/assets/icons/arrow.svg", alt="arrow").accordion-arrow
			.accordion-content
				img(src="../img/photogallery/interior/interior-image-3.jpg", alt="News")
				p 
					| К празднику Великой Пасхи в ресторанах и грузинских лавках Оджахури можно заказать пасху и куличи, которые станут отличным украшением праздничного стола.
				p 
					| С 10 по 17 апреля в Оджахури можно купить: кулич с цукатами и изюмом (690 руб.), кулич со сливочным кремом и инжирным вареньем (990 руб.), шоколадный кулич (1150 руб.) или творожную пасху, покрытую шоколадом и орехами (490 руб.).
		.accordion-item
			.accordion-header
				h2.accordion-title  Летнее меню Кулинари
				img(src="../img/assets/icons/arrow.svg", alt="arrow").accordion-arrow
			.accordion-content
				img(src="../img/photogallery/interior/interior-image-1.jpg", alt="News")
				p 
					| В ресторане «Оджахури» на Садовой-Черногрязской заработала летняя веранда и совсем недавно шеф-повар Гига Шервашидзе запустил сезонное меню.
				p 
					| В разделе салатов и закусок микс салатных листьев с зеленью, бакинскими огурцами, сельдереем, сливочным сыром и песто (690 руб.); салат из томатов, сметаны, красного лука, петрушки и кинзы (550 руб.); салат из свёклы с обжаренной на гриле грушей, томатами, салатными листьями и сыром (590 руб.) и свежие огурцы в соусе из мацони с зелёной аджикой и чвиштари (530 руб.).
				p 
					| В супах два вида окрошки с говяжьим языком, свежими огурцами, редисом, зеленью, горчицей и хреном – на выбор на мацони или квасе (550 руб.), грузинский тёплый суп с мацони с добавлением муки, сметыны, мяты, зелени, лука и куриного яйца (490 руб.) и грузинский гаспачо со свежими огурцами и сулугуни (490 руб.).
				p 
					| Веранда рассчитана на 50 посадочных мест и находится во внутреннем дворике ресторана с видом на площадь Цезаря Куникова.
		.accordion-item
			.accordion-header
				h2.accordion-title Открытие летней веранды Оджахури на Садовой-Черногрязской
				img(src="../img/assets/icons/arrow.svg", alt="arrow").accordion-arrow
			.accordion-content
				img(src="../img/photogallery/interior/interior-image-2.jpg", alt="News")
				p 
					| В ресторане «Оджахури» на Садовой-Черногрязской заработала летняя веранда и совсем недавно шеф-повар Гига Шервашидзе запустил сезонное меню.
				p 
					| В разделе салатов и закусок микс салатных листьев с зеленью, бакинскими огурцами, сельдереем, сливочным сыром и песто (690 руб.); салат из томатов, сметаны, красного лука, петрушки и кинзы (550 руб.); салат из свёклы с обжаренной на гриле грушей, томатами, салатными листьями и сыром (590 руб.) и свежие огурцы в соусе из мацони с зелёной аджикой и чвиштари (530 руб.).
		.accordion-item
			.accordion-header
				h2.accordion-title Пасха в Оджахури
				img(src="../img/assets/icons/arrow.svg", alt="arrow").accordion-arrow
			.accordion-content
				img(src="../img/photogallery/interior/interior-image-3.jpg", alt="News")
				p 
					| К празднику Великой Пасхи в ресторанах и грузинских лавках Оджахури можно заказать пасху и куличи, которые станут отличным украшением праздничного стола.
				p 
					| С 10 по 17 апреля в Оджахури можно купить: кулич с цукатами и изюмом (690 руб.), кулич со сливочным кремом и инжирным вареньем (990 руб.), шоколадный кулич (1150 руб.) или творожную пасху, покрытую шоколадом и орехами (490 руб.).

	section.k-contacts
		.k-contacts__content
			h2.k-contacts__content-header Контакты
			address.k-contacts__address
				ul
					li
						h3
							a(href="https://yandex.ru/maps/-/CCUHIDTy-C" target="_blank") Мичуринский пр. 7
					li
						p
							| Пн-Вс: 11:00 — 23:00
					li
						a(href="tel:+74991364747") Т. +7 499 136 47 47
					li
						a(href="mailto:info@kulinari.co") E. info@kulinari.co
			address.k-contacts__address
				ul
					li
						h3
							a(href="https://yandex.ru/maps/-/CCUHIHqHdD" target="_blank") Кутузовский проспект, 57, ТРЦ Океания
					li
						p
							| Пн-чт: 09:00 — 23:00
					li
						p
							| Пт: 09:00 — 01:00
					li
						p
							| Сб: 10:00 — 01:00
					li
						p
							| Вс: 10:00 — 23:00
					li
						a(href="tel:+74952878182") Т. +7 495 287 8182
					li
						a(href="mailto:info@kulinari.co") E. info@kulinari.co