.container {
	display: grid;
  grid-template-columns: repeat(7, 1fr);
	gap: 1rem;
	@media (min-width: $b-xlarge) {
		display: grid;
		grid-template-columns: repeat(17, 1fr);
		gap: 1.5rem;
	}
}


//main site container
#site-wrapper {
	position: relative;
	@media (min-width: $b-medium) {
		padding: 0;
	}
}

#rest-header {
	padding: 2rem;
	background-color: ac(primary);
	@media (min-width: $b-medium) {
		padding: 3rem 2.5rem;
	}
}

section {
	margin-top: 8rem;
	margin-left: 2rem;
	margin-right: 2rem;
	@media (min-width: $b-large) {
		margin-top: 8rem;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
	@media (min-width: $b-xlarge-h) {
		margin-top: 10rem;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
	@media (min-width: $b-xlarge) {
		// padding: 9rem 0;
	}
}

.main-products {
	@media (min-width: $b-xlarge) {
		width: math.div(9,12);
		margin-left: 6.5rem;
	}
}
