include partials/head

body
	#s-site-wrapper
		#s-site-main
			.s-item.s-item-header
				.logo
					img(src="img/assets/brand/kulinari-logo.svg", alt="мегобари логотип")
				h2 Грузинская кухня по домашним рецептам

			.s-item.s-rest.s-okeania(style="background-image: url(../img/photogallery/interior/interior-image-1.jpg);")
				.s-contact-info
					a(href="https://goodpechat.spicedpages.ru/kutuzovsky/").s-contact-text
						h3 «Океания»
						.s-address
							p Кутузовский проспект, 57
							p ТРЦ Океания
							p Перейти на сайт

			.s-item.s-rest.s-michur(style="background-image: url(../img/photogallery/interior/interior-image-12.jpg);")
				.s-contact-info
					a(href="https://goodpechat.spicedpages.ru/michurinskiy/").s-contact-text
						h3 «Мичуринский»
						.s-address
							p Мичуринский пр. 7
							p Перейти на сайт

				include partials/site-footer-start-page