.hero {
  position: relative;
  margin-top: 4rem;
  width: 100%;
  overflow: hidden;
  @media (min-width: $b-medium) {
    max-width: 75vw;
  }
}

.hero .hero-main-header {
  position: relative;
  z-index: 1;
}

.hero .hero-float-img {
  position: relative;
  display: block;
  width: 100%;
  min-width: 57rem;
  text-align: right;
  @media (min-width: $b-medium) {
    margin-top: -40rem;
    max-width: 123rem;
  }
}
