.hero {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  @media (min-width: $b-medium) {
    padding-bottom: 0;
    margin-left: 13%;
  }
  @media (min-width: $b-large) {
		margin-top: 1rem;
	}
	@media (min-width: $b-xlarge-h) {
		margin-top: 6rem;
	}
}

.hero .hero-main-header {
  z-index: 1;
  grid-column: 1 / span 7;
  @media (min-width: $b-medium) {
    max-width: 77vw;
  }
  @media (min-width: $b-xxxxlarge) {
    max-width: 67vw;
    margin-left: 12%;
  }
}

.hero .hero-float-img {
  display: block;
  position: relative;
  width: 100%;
  min-width: 57rem;
  text-align: right;
  z-index: -1;
  @media (min-width: $b-medium) {
    margin-top: -5rem;
    max-width: 100rem;
    margin-left: 30%;
  }
  @media (min-width: $b-large) {
    margin-top: -15rem;
    max-width: 93rem;
    margin-left: 40%;
  }
  @media (min-width: $b-xxxxlarge) {
    margin-top: -8rem;
    max-width: 123rem;
    margin-left: 30%;
  }
}

.hero-float-logo-sign {
  position: absolute;
  width: 50rem;
  left: -40%;
  top: 50%;
  opacity: .1;
  z-index: -1;
  @media (min-width: $b-medium) {
    left: 0;
    width: 80rem;
    top:40%;
  }
  @media (min-width: $b-xlarge) {
    left: 0;
    width: 100rem;
    top:35%;
  }
  @media (min-width: $b-xlarge-h) {
    left: 0;
    width: 110rem;
    top:30%;
  }
  @media (min-width: $b-xxlarge) {
    left: 0;
    width: 120rem;
    top:30%;
  }
}

.hero-btn {
  width: 100%;
  max-width: 37.5rem;
  padding: 3rem;
  @media(min-width: $b-xlarge) {
    position: absolute;
    width: auto;
    top: 60rem;
    z-index: 9999;
    max-width: none;
  }
  @media(min-width: $b-xlarge-h) {
    top: 63rem;
  }
  @media(min-width: $b-xxlarge) {
    top: 75rem;
  }
  @media (min-width: $b-xxxxlarge) {
    left: 12.5%;
  }
}
