.hero {
  position: relative;
  padding-top: 4rem;
  width: 100%;
  @media (min-width: $b-medium) {
    max-width: 75vw;
  }
}

.hero .hero-main-header {
  z-index: 1;
}

.hero .hero-float-img {
  display: block;
  width: 100%;
  min-width: 57rem;
  text-align: right;
  @media (min-width: $b-medium) {
    margin-top: -40rem;
    max-width: 123rem;
  }
}

.hero-float-logo-sign {
  position: absolute;
  width: 50rem;
  left: -40%;
  top: 50%;
  opacity: .1;
  z-index: -1;
}
