//about section
.k-about__content {
  & h2 {
    grid-column: 1 / span 7;
  }
  & .k-about__text {
    grid-column: 1 / span 7;
  }
  .k-about-button-section {
    margin-top: 4rem;
    grid-column: 1 / span 7;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    & .button {
      width: calc(50% - .5rem);
      text-align: center;
    }
  }
  @media (min-width: $b-xlarge) {
    & h2 {
      grid-column: 3 / span 13;
    }
    & .k-about__text {
      grid-column: 3 / span 6 ;
      &:nth-child(3) {
        grid-column: 10 / span 6 ;
      }
    }
    & .k-about-button-section {
      grid-column: 3 / span 13;
      & .button {
        width: calc(25% - 1rem);
      }
    }
  }
}

//advantages
.k-advantages {
  &__item {
    margin-top: 5rem;
    grid-column: 1 / span 7;
    text-align: center;
    &-image {
      & img {
        max-width: 15rem;
      }
    }
    &-header h3 {
      margin-top: 2rem;
      color: ac(white);
    }
  }
  @media (min-width: $b-large) {
    & h2 {
      grid-column: 3 / span 13;
    }
    &__item {
      grid-column: 3 / span 4;
      &-image {
        & img {
          max-width: 25rem;
        }
      }
      &:nth-child(3) {
        grid-column: 7 / span 6;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
      }
      &:nth-child(4) {
        grid-column: 13 / span 4;
      }
      &-header h3 {
        margin-top: 2rem;
        color: ac(white);
      }
    }
  }
  .k-advantages-button-section {
    margin-top: 4rem;
    grid-column: 1 / span 7;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    & .button {
      width: calc(50% - .5rem);
      text-align: center;
    }
  }
  @media (min-width: $b-xlarge) {
    & .k-advantages-button-section {
      grid-column: 3 / span 13;
      & .button {
        width: calc(25% - 1rem);
      }
    }
  }
}

// interior gallery
.k-gallery {
  overflow-x: scroll;
  // height: 50rem;
  // @media (min-width: $b-medium) {
  //   height: 100rem;
  // }
  @media (min-width: $b-medium) {
    padding-bottom: 0;
  }
}

.k-gallery__content {
  display: flex;
  flex-flow: row nowrap;
}

.k-gallery__content-item {
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
  & img {
    // width: 100%;
    // height: 100%;
    max-height: 48rem;
    display: block;
  }
}

//gallery-dishes
.k-gallery-dishes {
}

.k-gallery-dishes__content {
  grid-column: 1 / span 7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
  @media (min-width: $b-large) {
    grid-column: 3 / span 13;
  }
  & .k-gallery-dishes__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .k-gallery-dishes__item:nth-child(even) {
    grid-row: span 2;
  }
  & .k-gallery-dishes__item:nth-child(3n) {
    grid-row: span 2;
  }
  @media (min-width: $b-large) {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    & .k-gallery-dishes__item:nth-child(3n) {
      grid-row: span 1;
    }
    & .k-gallery-dishes__item:nth-child(2n) {
      grid-row: span 2;
    }
  }
}

//delivery
.k-delivery {
  position: relative;
  width: 100%;
  &__content-header {
    grid-column: 1 / span 7;
  }
  &__content-text {
    grid-column: 1 / span 7;
    color: ac(white);
    font-size: 3rem;
  }
  &__content-btn {
    grid-column: 1 / span 7;
  }
  &__content-btn {
    margin-top: 4rem;
    max-width: 50rem;
    & button {
      width: 100%;
    }
  }
  &__content-image {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 10rem;
  }
  @media (min-width: $b-large) {
    &__content-header {
      grid-column: 3 / span 13;
    }
    &__content-text {
      grid-column: 3 / span 13;
    }
    &__content-btn {
      grid-column: 3 / span 13;
    }
    &__content-image {
      width: 20rem;
      right: 13%;
    }
  }
  @media (min-width: $b-xlarge-h) {
    &__content-image {
      width: 30rem;
    }
  }
}

//contacts
.k-contacts {
  position: relative;
  width: 100%;
  &__content {
    grid-column: 1 / span 7;
    @media (min-width: $b-large) {
      grid-column: 3 / span 13;
    }
  }
  & .k-contacts__address {
    margin-top: 4rem;
    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
      & li {
        & a {
          display: block;
          margin-top: 2rem;
        }
        & h3 a {
          padding-left: 0;
          color: ac(third);
        }
      }
    }
  }
  @media (min-width: $b-xlarge) {
    & .k-contacts__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      & h2 {
        grid-column: 1 / span 2;
      }
      & .k-contacts__address ul li a, .k-contacts__address ul li p {
        text-indent: 0;
        padding-left: 0;
      } 
    }
  }
}

//ya map
.k-ya-map {
  width: 100%;
  min-height: 50rem;
  &__content {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 7;
    @media (min-width: $b-large) {
      grid-column: 3 / span 13;
    }
  }
  @media (min-width: $b-medium) {
    min-height: 60vh;
  }
  @media (min-width: $b-xlarge) {
    min-height: 70vh;
  }
}

//reserve
.k-reserve {
  width: 100%;
  &__content {
    grid-column: 1 / span 7;
    @media (min-width: $b-large) {
      grid-column: 3 / span 13;
    }
  }
  & button {
    width: 100%;
    margin-top: 4rem;
  }
  @media (min-width: $b-xlarge) {
    & .k-reserve__content {
      & h2 {
        grid-column: 2 / span 4;
      }
      & button {
        grid-column: 2 / span 2;
        max-width: 50rem;
      }
    }
  }
}



//welcome
.k-welcome {
  &__content {
    grid-column: 1 / span 7;
    @media (min-width: $b-large) {
      grid-column: 3 / span 13;
    }
  }
  width: 100%;
  padding-bottom: 15rem;
}