.popup {
    display: flex;
    position: fixed;
    justify-content: center;
    top: -200%;
    left: 0;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    transition: top 0.5s ease;
    margin-bottom: 3rem;
  }
  
  .popup-content {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    max-width: 80rem;
    justify-content: center
  }
  
  .popup-content h2 {
    @include responsive-font-size(5rem, 1vw);
    margin-top: 10rem;
  }
  
  .popup #contact-form {
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
  }

  .popup #contact-form label {
    margin-top: 3rem;
  }

  .popup #contact-form .button {
    margin-top: 8rem;
  }
  
  .popup.active {
    top:0;
    justify-content: center;
  }
  
  .close-popup {
    cursor: pointer;
    max-width: 15rem;
    align-self: flex-end;
    max-width: 25rem !important;
  }
  